{{ partial "header.html" . }}
<div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
    <main class="mdl-layout__content">
      <div class="demo-blog__posts mdl-grid">
        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col ">
          <div class="mdl-card__media mdl-color-text--grey-50 mdl-color--blue-grey-900">
            <h3>{{ .Title }}</h3>
          </div>
          <div class="mdl-color-text--grey-700 mdl-card__actions mdl-grid">
                {{ range where .Site.Pages "Section" "post" }}
                  {{ range (.Pages.GroupByDate "2006") }}
                    {{ range .Pages }}
                    <h4 class="mdl-cell mdl-cell--3-col">
                      <a class="mdl-color-text--blue-grey-900" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
                      <span>{{.Date.Format "January 2, 2006"}}</span>
                    </h4>
                    {{ end }}
                  {{ end }}
                {{ end }}
          </div>
        </div>
      </div>
{{ partial "footer.html" . }}